*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.bcf
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.loe
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.run.xml
*.synctex.gz
.refresh
*.fls
*.fdb_latexmk
*.pdfsync
*.auxlock
*.backup
