<ul class="infos">

<li>écrit par <i class="icon-user"></i> {{ article.author }} sous licence {{ article.license }}</li>
<li>à partager sur 
<a href="http://twitter.com/home?status=%C3%80%20lire%3A%20{{ article.title|striptags|urlencode}}%20{{ SITEURL }}/{{ article.url }}"><i class="icon-twitter"></i> Twitter</a>,
<a href="http://www.facebook.com/sharer.php?t={{ article.title|striptags|urlencode }}&amp;u={{ SITEURL }}/{{ article.url }}"><i class="icon-facebook"></i> Facebook</a> ou à <a href="mailto:?subject={{ article.title|striptags }}&amp;body=Allez%20lire%20ce%20superbe%20article%20de%20{{ SITENAME }}%20disponible%20%C3%A0%20{{ SITEURL|urlencode}}%2F{{article.url|urlencode }}"><i class="icon-mail-forward"></i>courrieller</a></li>
</ul>
