<ul class="sidebar">
<li><h2 class="pub"><a href="http://fr.ulule.com/ref-da"><i class="icon-book icon-large"></i>Envoyez ce livre à votre député !</a></h2></li>
<li><h3 class="pub"><a href="http://rda.sploing.fr/wiki"><i class="icon-edit icon-large"></i>Version wiki</a></h3></li>
<li><h3 class="pub"><a href="http://fichiers.sploing.fr/résumé.pdf"><i class="icon-download icon-large"></i>Version PDF</a></h3></li>
<li><a href="{{ SITEURL }}"><i class="icon-home icon-large"></i>Page d'accueil</a></li>  
{% if SOCIAL %}
<li><h4><i class="icon-user icon-large"></i>Social</h4></li>
{% block feed %}
<li><a href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" rel="alternate"><i class="icon-rss icon-large"></i>flux atom</a></li>  
{% endblock %}
{% for name, link in SOCIAL %}
    <li><a href="{{ link }}"><i class="icon-{{ name }}-sign icon-large"></i>{{ name }}</a></li>
{% endfor %}
{% endif %}


{% if APROPOS %}
<li><h4><i class="icon-info-sign icon-large"></i>À propos</h4></li>
{% for name, link, icon in APROPOS %}
    <li><a href="{{ link }}"><i class="{{ icon }} icon-large"></i>{{ name }}</a></li>
{% endfor %}
{% endif %}

{% if LIVRES %}
<li><h4><i class="icon-leaf icon-large"></i>Livres traduits</h4></li>
{% for name, link in LIVRES %}
    <li><a href="{{ link }}"><i class="icon-external-link icon-large"></i>{{ name }}</a></li>
{% endfor %}
{% endif %}

{% if SITES %}
<li><h4><i class="icon-external-link-sign icon-large"></i>Sites</h4></li>
{% for name, link in SITES %}
    <li><a href="{{ link }}"><i class="icon-external-link icon-large"></i>{{ name }}</a></li>
{% endfor %}
{% endif %}

<li><h4><i class="icon-thumbs-up icon-large"></i>Don</h4></li>
<li><a href="http://fichiers.sploing.fr/rib-courant.pdf"><i class="icon-beer icon-large"></i>Relevé d'identité bancaire</a></li>

</ul>
